name: your_splash
description: A Flutter implementation of splash screen. Supports Android and IOS.
version: 0.1.2
homepage: https://github.com/Dsazz/your_splash

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
